.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    text-align: center;
}

button {
    cursor: pointer;
}

footer {
    background-color: #4CAF50;
    padding: 20px;
    bottom: 0;
    width: 100%;
}



/* Legg til denne CSS-koden for å skjule totalboksen i utgangspunktet */
.hidden {
    display: none;
}

#totalBox {
    background-color:#af4caf;
    padding: 10px;
    border: 2px solid #af4caf;
    border-radius: 5px;
    margin-top: 20px;
}

#totalBox h3 {
    margin-top: 0;
}

.header {
    background-color: #4CAF50; /* Grønn farge */
    padding: 20px;
    text-align: center;
    border-radius: 20px; /* Rundede hjørner */
}

.header-content h1 {
    font-size: 36px; /* Stor skriftstørrelse */
    color: white; /* Hvit skriftsfarge */
    text-transform: uppercase; /* Store bokstaver */
}
